.navbar-nav > li{
    padding-left:40px;
    padding-right:40px;
    margin-left:40px;
    margin-right:40px;
  }

  .btn {
    padding-left:40px;
    padding-right:40px;
    margin-left:40px;
    margin-right:40px;
  }

  #already-using {
      margin-left: 40px;
      margin-top: 40px;
  }

  .d-flex {
      margin-left: 30px;
  }

  /* paragraphs and textboxes start */

.container3{
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    height: 10%;
    padding: none;
    margin-bottom: 40px;
}
.text{ 
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text p{
  width: 700px;
  text-align: center;
  margin-left: 300px;
  margin-top: 10px;
}

hr{
  text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container3 .col-md-4{
    align-self: flex-start;
    text-align: left;
    height: auto;
    margin-top: 40px;
    
}

.container3 .col-md-8{
    background-color: #0750F8;
    color: white;
    align-items: right;
    width: 55%;
    border-radius: 10px;
    margin-top: none;
    text-align: justify;
}

.btn-primary{
    display: flex;
    justify-content: left;
    width: 120px;
    box-sizing: border-box;
    border: 1x solid white;
}

  /* paragraphs and text boxes end */

  /* footer */
  .container6{
    box-sizing: content-box;
    background: #0750F8;
    width: 100%;
    padding-top: 10px;
  }

  .container6 footer{
    width: 100%;
    text-align: justify;
  }
.container6 .row .col .btn-outline-light{
  background-color: #7FD127;
}
/* footer end */

  .me-5{
    text-align:center;
  }
  .link-primary {
      margin-left: 40px;
  }

  .p-2 {
      font-size: 12px;
  }

